<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dkd.manage.mapper.Experiment1ProgressMapper">
    
    <resultMap type="Experiment1Progress" id="Experiment1ProgressResult">
        <result property="id"    column="id"    />
        <result property="studentId"    column="student_id"    />
        <result property="progress"    column="progress"    />
        <result property="part1Time"    column="part1_time"    />
        <result property="part2Time"    column="part2_time"    />
        <result property="part3Time"    column="part3_time"    />
        <result property="part4Time"    column="part4_time"    />
        <result property="part5Time"    column="part5_time"    />
        <result property="part6Time"    column="part6_time"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
    </resultMap>

    <sql id="selectExperiment1ProgressVo">
        select id, student_id, progress, part1_time, part2_time, part3_time, part4_time, part5_time, part6_time, created_at, updated_at from tb_experiment1_progress
    </sql>

    <select id="selectExperiment1ProgressList" parameterType="Experiment1Progress" resultMap="Experiment1ProgressResult">
        <include refid="selectExperiment1ProgressVo"/>
        <where>  
            <if test="studentId != null "> and student_id = #{studentId}</if>
        </where>
    </select>
    
    <select id="selectExperiment1ProgressById" parameterType="Long" resultMap="Experiment1ProgressResult">
        <include refid="selectExperiment1ProgressVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertExperiment1Progress" parameterType="Experiment1Progress" useGeneratedKeys="true" keyProperty="id">
        insert into tb_experiment1_progress
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null">student_id,</if>
            <if test="progress != null and progress != ''">progress,</if>
            <if test="part1Time != null">part1_time,</if>
            <if test="part2Time != null">part2_time,</if>
            <if test="part3Time != null">part3_time,</if>
            <if test="part4Time != null">part4_time,</if>
            <if test="part5Time != null">part5_time,</if>
            <if test="part6Time != null">part6_time,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId != null">#{studentId},</if>
            <if test="progress != null and progress != ''">#{progress},</if>
            <if test="part1Time != null">#{part1Time},</if>
            <if test="part2Time != null">#{part2Time},</if>
            <if test="part3Time != null">#{part3Time},</if>
            <if test="part4Time != null">#{part4Time},</if>
            <if test="part5Time != null">#{part5Time},</if>
            <if test="part6Time != null">#{part6Time},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
         </trim>
    </insert>

    <update id="updateExperiment1Progress" parameterType="Experiment1Progress">
        update tb_experiment1_progress
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentId != null">student_id = #{studentId},</if>
            <if test="progress != null and progress != ''">progress = #{progress},</if>
            <if test="part1Time != null">part1_time = #{part1Time},</if>
            <if test="part2Time != null">part2_time = #{part2Time},</if>
            <if test="part3Time != null">part3_time = #{part3Time},</if>
            <if test="part4Time != null">part4_time = #{part4Time},</if>
            <if test="part5Time != null">part5_time = #{part5Time},</if>
            <if test="part6Time != null">part6_time = #{part6Time},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteExperiment1ProgressById" parameterType="Long">
        delete from tb_experiment1_progress where id = #{id}
    </delete>

    <delete id="deleteExperiment1ProgressByIds" parameterType="String">
        delete from tb_experiment1_progress where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>